button {
  color: black;
  padding: 20px 15px;
  border: 2px solid #eee;
  border-radius: 5px;
  margin: 5px 20px;
  font-size: 18px;
  background-color: #eee;
  cursor: pointer;
  outline: none;
}

.appMain {
  background-color: #fff;
  margin: 10px auto 0;
  max-width: 800px;
  padding: 20px 0;
  border-radius: 5px;
  position: relative;
}

@media (max-width: 850px){
  .App-main {
    width: 90%;
  }
}


